        <footer>
            <p>Copyright © 2014&mdash;2021 Marek Marecki</p>
            <p>Viua VM is Free Software licensed under the GNU GPL v3 license</p>
        </footer>
    </body>
</html>

<!-- /*
      * Many thanks to the https://iolanguage.org authors for the design
      * inspiration. The elegant minimalism of the Io language's Web site was
      * a great eye-opener of how a language's, runtime's or virtual machine's
      * Web site can look.
      *
      * You guys rock! Io also rocks! (Seriously now, if anyone is reading this
      * I wholeheartedly recommend learning about Io.)
      */ -->
