/*
 * Global defaults.
 */
:root {
    --em-color: #aaee00;
    --link-color: #ffffff;
    --link-hover-color: #ccee00;
    --heading-color: #fafafa;
    --subheading-color: #cfcfcf;
    --fg-color: #dadada;
    --fg-faded-color: #808080;
}

html, body {
    margin: 0;
    padding: 2em;
    background-color: #0f0f0f;
    color: var(--fg-color);
    font-family: monospace;
}

h1, h2 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
}

header strong {
    font-size: 5em;
    color: var(--heading-color);
}
header span {
    color: var(--subheading-color);
    font-size: 1.8em;
    font-weight: lighter;
}
header em {
    color: var(--em-color);
    font-style: normal;
}

header a {
    color: inherit;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

footer {
    margin: 8em auto;
    color: var(--fg-faded-color);
    text-align: right;
}

hr {
    margin: 4em 0;
    width: 40%;
    color: #aa0000;
}


/*
 * Front page styles.
 */
#front-page-links {
    font-size: 3em;
}
#front-page-links ul {
    list-style: none;
}
#front-page-links li {
    color: var(--fg-faded-color);
    margin: 1em auto 0 auto;
}
#front-page-links a {
    display: inline-block;
    color: var(--link-color);
    width: 4em;
    text-align: right;
}
#front-page-links a:hover {
    color: var(--link-hover-color);
}


/*
 * Styles for other pages.
 */
h1,
h2 {
    display: block;
    max-width: 60em;
    line-height: 1.4em;
}
main p {
    display: block;
    margin: 1em 1.2em;
    max-width: 60em;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
}

main a {
    color: var(--link-color);
}
main a:hover {
    color: var(--link-hover-color);
}

main em {
    color: var(--em-color);
    font-style: normal;
}

/*
 *******************************************************************************
 */

.invisible {
    visibility: hidden;
}
