include(`parts/head.html')

<hr>

<main>
    <h1>About the Viua virtual machine</h1>

    <p>
        Viua is a bytecode virtual machine implementing a custom ISA. The
        machine is designed to reliably run highly concurrent software.
        To that end, the execution model it presents to used-level
        software is based on the
        <a href="https://en.wikipedia.org/wiki/Actor_model">Actor model</a>
        of computation.
    </p>
</main>

include(`parts/tail.html')
