include(`parts/head.html')

<hr>

<main>
    <h1>Fund development of the VM</h1>

    <p>
        Viua VM is Free Software published under the GNU GPL v3 license.
        The whole toolchain is free as in freedom, and as in beer
        ie,&nbsp;gratis. If you would like to support and fund development of
        the VM you can do so using the channels presented below.
    </p>

    <article>
        <h2>Send funds using <em>Monero</em></h2>

        <p>
            <a href="https://www.getmonero.org/">Monero</a> is a private,
            decentralised, and truly anonymous cryptocurrency. Funds for the VM
            can be sent to the following address:
            <br>
            <em>8BmqJeCMKvfULjAfVsm4MD5DEavCBKEyWaqijvDcweL6hJtVuCcDytZVPGF6WLoD5UR6MszsgbadhAhuAz21rBDaBhLMTbi</em>
        </p>
    </article>
</main>

include(`parts/tail.html')
