include(`parts/head.html')

<main id="front-page-links">
    <ul>
        <li><a href="/about.html">about</a> the project</li>
        <li><a href="//docs.viuavm.org">docs</a> for the virtual machine</li>
        <li><a href="https://git.sr.ht/~maelkum/viuavm">source</a> code of the toolchain</li>
        <!-- <li><a href="/links.html">links</a> to more resources</li> -->
        <li><a href="/donate.html">donate</a> funds for development</li>
    </ul>
</main>

include(`parts/tail.html')
