include(`parts/head.html')

<hr>

<main>
    <h1>Links to other resources</h1>

    <p>
        This page is a collection of useful (to a varying degree) links
        to resources related in some way to Viua virtual machine.
    </p>

    <article>
        <h2>Programming languages</h2>

        <section>
            <h3>Viuact</h3>

            <p>
                Here is a link to the
                <a href="https://git.sr.ht/~maelkum/viuact">source code</a> of
                the Viuact programming language. Viuact is a high-level
                programming language whose features include static typing,
                emphasis on concurrency, and a minimal syntax. It has a compiler
                targeting the Viua VM's ISA.
            </p>
        </section>
    </article>

    <!-- enable when ci.viuavm.org is back up
    <section>
        <h2>Infrastructure</h2>

        <h3>CI</h3>
        <p>
            Here is a link to <a href="//ci.viuavm.org">results</a> of the
            Viua VM test suite.
        </p>
    </section>
    -->
</main>

include(`parts/tail.html')
